{% extends "standard_account/report_base.html" %}
{% block title %}Client maintenance{% endblock title %}


{% block content %}
 <div class="col-md-12">
 <div class="container" style="text-align: center">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Client Maintenance</h1>
      </div>
    </div>
</div>
  <div class="table-responsive">
  <table id="bootstrapdatatable" class="table table-striped table-bordered" width="100%">
            <thead>
                <th>Scheduled By</th>
                <th>Client</th>
                <th>Description</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Date Scheduled</th>
                <th>Status</th>
             </thead>
   <tbody>
   {% for i in maintenances %}
    <tr>
     <td>{{ i.user }}</td>
     <td>{{ i.client }}</td>
     <td>{{ i.description }}</td>
     <td>{{ i.start_date }}</td>
     <td>{{ i.end_date }}</td>
     <td>{{ i.created_at }}</td>
     <td>{{ i.status }}</td>
    </tr>
   {% endfor %}
   </tbody>

  </table>
        </div>
    </div>
{% endblock content %}