{% autoescape off %}

Hi Sir/Madam,
In order to ensure customer satisfaction, we would like you to rate {% for i in users %} {{ i.name }}, {% endfor %}.
They recently were recently assigned for a maintenance with your team on {{ training.training_category }} from {{ training.start_date }} to {{ training.end_date }}.

They're really counting on your ratings to help them improve on their performances.

use the below link to rate these technicians:

{% for i in users %}
    Technician Name: {{ i.name }}
    Link for rating: {{ i.link }}

{% endfor %}

{% endautoescape %}



